version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8001:80"
      - "8002:443"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/MangoAPI.Presentation.pfx
    volumes:
      - ~/.aspnet/https:/https:ro
    depends_on:
      - db
      - storage
  
  db:
    image: "mcr.microsoft.com/mssql/server:2022-latest"
    ports:
      - "1444:1433"
    environment:
      SA_PASSWORD: "x2yiJt!Fs"
      ACCEPT_EULA: "Y"
  
  storage:
    image: mcr.microsoft.com/azure-storage/azurite
    command: "azurite --blobHost 0.0.0.0 --blobPort 10000 --queueHost 0.0.0.0 --queuePort 10001 --location /workspace --debug /workspace/debug.log"
    hostname: azurite
    restart: always
    ports:
      - 10000:10000
      - 10001:10001