<div class='background-pattern'>
  <div class='container d-flex justify-content-center align-items-center flex-column vh-100'>
    <h1 class='font-weight-bold mb-4 auth-header'>Create group</h1>
    <label for='groupTitle'></label>
    <input class='mb-3 form-input p-3 user-select-none'
           id='groupTitle'
           name='emailAddress' placeholder='Enter group title'
           type='text'>

    <label for='groupDescription'></label>
    <input class='mb-3 form-input p-3 user-select-none'
           id='groupDescription'
           name='groupDescription'
           placeholder='Enter group description'
           type='text'>

    <button class='form-button p-3 font-weight-bold mb-3'>CREATE</button>
  </div>
</div>
