<body class='d-flex'>
<div class='menu' id='menu'>
  <nav class='navigation-bar p-2'>
    <div class='logo p-1'>
      <img alt='Mango Logo' height='40' src='./assets/img/logo.png' width='40'>
    </div>
    <ul class='text-center menu-buttons'>
      <li>
        <a href='#'>
          <svg fill='none' stroke='currentColor' viewBox='0 0 24 24'>
            <path class='path'
                  d='M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 				14h4a2 2 0 002-2V6a2 2 0 	00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z'
                  stroke-linecap='round' stroke-linejoin='round'
                  stroke-width='2' />
          </svg>
        </a>
      </li>

      <li>
        <a href='#'>
          <svg fill='none' stroke='currentColor' viewBox='0 0 24 24'>
            <path class='path active'
                  d='M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 				4 0 11-8 0 4 4 0 018 0z'
                  stroke-linecap='round' stroke-linejoin='round'
                  stroke-width='2' />
          </svg>
        </a>
      </li>

      <li>
        <a href='#'>
          <svg fill='none' stroke='currentColor' viewBox='0 0 24 24'>
            <path class='path'
                  d='M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 				3 3 0 016 0zm6 2a9 9 0 	11-18 0 9 9 0 0118 0z'
                  stroke-linecap='round' stroke-linejoin='round'
                  stroke-width='2' />
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <aside class='sidebar contacts'>
    <header class='sidebar-header p-3'>
      <div class='d-flex justify-content-between align-items-center'>
        <h5>Contacts</h5>
      </div>
      <div class='d-flex justify-content-between mt-2'>
        <div class='dropdown'>
          <button class='dropdown-toggle p-2 button-dark' data-toggle='dropdown'>
            All contacts
          </button>
          <div aria-labelledby='dLabel' class='dropdown-menu mt-0' role='menu'>
            <div class='dropdown-item'>All contacts</div>
          </div>
        </div>
        <div class='d-inline'>
          <div class='input-group mb-3 '>
            <label for='searchBar'></label>
            <input aria-describedby='basic-addon1' class='form-control ml-3' id='searchBar' name='searchBar'
                   placeholder='Search contacts...'
                   type='text'>
            <div class='input-group-prepend'>
              <button class='input-group-text' id='basic-addon1'>
                <img alt=' Search Icon' src='./assets/svg/search-icon.svg' />
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <ul class='list overflow py-3 px-2'>
      <li class='active'>
        <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
        <div class='content'>
          <div class='title'>
            <div class='info pl-1'>
              <p>
                chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
              </p>
            </div>
          </div>
          <div class='message'>
            <div class='d-flex'>
              <img src='./assets/svg/info-white.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
            <div class='d-flex'>
              <img src='./assets/svg/point-white.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
        <div class='content'>
          <div class='title'>
            <div class='info pl-1'>
              <p>
                chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
              </p>
            </div>
          </div>
          <div class='message'>
            <div class='d-flex'>
              <img src='./assets/svg/info.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
            <div class='d-flex'>
              <img src='./assets/svg/point.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
        <div class='content'>
          <div class='title'>
            <div class='info pl-1'>
              <p>
                chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
              </p>
            </div>
          </div>
          <div class='message'>
            <div class='d-flex'>
              <img src='./assets/svg/info.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
            <div class='d-flex'>
              <img src='./assets/svg/point.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
        <div class='content'>
          <div class='title'>
            <div class='info pl-1'>
              <p>
                chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
              </p>
            </div>
          </div>
          <div class='message'>
            <div class='d-flex'>
              <img src='./assets/svg/info.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
            <div class='d-flex'>
              <img src='./assets/svg/point.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
        <div class='content'>
          <div class='title'>
            <div class='info pl-1'>
              <p>
                chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
              </p>
            </div>
          </div>
          <div class='message'>
            <div class='d-flex'>
              <img src='./assets/svg/info.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
            <div class='d-flex'>
              <img src='./assets/svg/point.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
        <div class='content'>
          <div class='title'>
            <div class='info pl-1'>
              <p>
                chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
              </p>
            </div>
          </div>
          <div class='message'>
            <div class='d-flex'>
              <img src='./assets/svg/info.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
            <div class='d-flex'>
              <img src='./assets/svg/point.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
        <div class='content'>
          <div class='title'>
            <div class='info pl-1'>
              <p>
                chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
              </p>
            </div>
          </div>
          <div class='message'>
            <div class='d-flex'>
              <img src='./assets/svg/info.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
            <div class='d-flex'>
              <img src='./assets/svg/point.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
        <div class='content'>
          <div class='title'>
            <div class='info pl-1'>
              <p>
                chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
              </p>
            </div>
          </div>
          <div class='message'>
            <div class='d-flex'>
              <img src='./assets/svg/info.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
            <div class='d-flex'>
              <img src='./assets/svg/point.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
        <div class='content'>
          <div class='title'>
            <div class='info pl-1'>
              <p>
                chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
              </p>
            </div>
          </div>
          <div class='message'>
            <div class='d-flex'>
              <img src='./assets/svg/info.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
            <div class='d-flex'>
              <img src='./assets/svg/point.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
        <div class='content'>
          <div class='title'>
            <div class='info pl-1'>
              <p>
                chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
              </p>
            </div>
          </div>
          <div class='message'>
            <div class='d-flex'>
              <img src='./assets/svg/info.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
            <div class='d-flex'>
              <img src='./assets/svg/point.svg' alt='White Info Icon' class='p-1'>
              <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
            </div>
          </div>
        </div>
      </li>
      <li style='margin-top: 55px;'></li>
    </ul>
  </aside>
</div>
<main class='contact'>
  <div class='main-info background-pattern'>
    <img src='./assets/img/razumovsky_picture.jpg' alt='User Avatar' class='avatar'>
    <div class='d-flex flex-column'>
      <p>razumovsky r</p>
      <p>11011 y.o Dotnet Developer from $"cityName"</p>
    </div>
    <div class='d-flex '>
      <button class='button-dark py-2 px-4'>Start Direct Chat</button>
      <button class='button-dark py-2 px-4 ml-3 text-red'>Remove Contact</button>
    </div>
  </div>

  <ul class='user-info'>
    <li>
      <div class='info'>
        <p class='title'>Birthdate</p>
        <p>2008-07-03</p>
      </div>
      <img src='./assets/svg/calendar.svg' alt='Calendar Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Email</p>
        <a href='mailto:#'>kolosovp95@gmail.com</a>
      </div>
      <img src='./assets/svg/mail.svg' alt='Mail Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Username</p>
        <p>razumovsky-r</p>
      </div>
      <img src='./assets/svg/mail.svg' alt='Mail Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Website</p>
        <p>razumovsky.com</p>
      </div>
      <img src='./assets/svg/world.svg' alt='World Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Address</p>
        <p>Odessa, Ukraine</p>
      </div>
      <img src='./assets/svg/home.svg' alt='Home Icon'>
    </li>
  </ul>

  <ul class='user-info'>
    <li>
      <div class='info'>
        <p class='title'>Facebook</p>
        <a href='#'>razumovsky_r</a>
      </div>
      <img src='./assets/svg/facebook.svg' alt='Facebook Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Twitter</p>
        <a href='#'>razumovsky_r</a>
      </div>
      <img src='./assets/svg/twitter.svg' alt='Twitter Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Instagram</p>
        <a href='#'>razumovsky_r</a>
      </div>
      <img src='./assets/svg/instagram.svg' alt='Instagram Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>LinkedIn</p>
        <a href='#'>razumovsky_r</a>
      </div>
      <img src='./assets/svg/linkedin.svg' alt='LinkedIn Icon'>
    </li>
  </ul>

</main>
</body>
