<body class='d-flex'>
<div class='menu' id='menu'>
  <app-navbar [activeComponent]="'contacts'"></app-navbar>
  <aside class='sidebar contacts'>
    <header class='sidebar-header p-3'>
      <div class='d-flex justify-content-between align-items-center'>
        <h5>Contacts</h5>
      </div>
      <div class='d-flex justify-content-between gap-fix mt-2'>
        <div class='dropdown'>
          <button class='dropdown-toggle p-2 button-dark' data-bs-toggle='dropdown'>
            All contacts
          </button>
          <div aria-labelledby='dLabel' class='dropdown-menu mt-0' role='menu'>
            <div class='dropdown-item'>All contacts</div>
          </div>
        </div>
        <div class='d-inline'>
          <div class='input-group mb-3'>
            <label for='searchBar'></label>
            <input aria-describedby='basic-addon1' class='form-control ml-3' id='searchBar' name='searchBar'
                   placeholder='Search contacts...'
                   type='text'>
            <div class='input-group-prepend'>
              <button class='input-group-text' id='basic-addon1'>
                <img alt='Search Icon' src='./assets/svg/search-icon.svg'/>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <ul class='list overflow py-3 px-2'>
      <li class='mb-2'>
        <div class='list-item active'>
          <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
          <div class='content'>
            <div class='title'>
              <div class='info pl-1'>
                <p>
                  chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
                </p>
              </div>
            </div>
            <div class='message'>
              <div class='d-flex'>
                <img src='./assets/svg/info-white.svg' alt='White Info Icon' class='p-1'>
                <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
              </div>
              <div class='d-flex'>
                <img src='./assets/svg/point-white.svg' alt='White Info Icon' class='p-1'>
                <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class='list-item'>
          <img alt='Chat avatar' class='avatar' src='./assets/img/chat-avatar.png'>
          <div class='content'>
            <div class='title'>
              <div class='info pl-1'>
                <p>
                  chatnamehmfdgnkjdfghjdkgjjdfgjksdhgjkdhgk;ldfshgjldhsgjkldsfhjghldflkgjdfslghdfjklghfdjsklghfdjsklghjksldf
                </p>
              </div>
            </div>
            <div class='message'>
              <div class='d-flex'>
                <img src='./assets/svg/info-white.svg' alt='White Info Icon' class='p-1'>
                <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
              </div>
              <div class='d-flex'>
                <img src='./assets/svg/point-white.svg' alt='White Info Icon' class='p-1'>
                <p>dhsfdsfhdsfhgrsdhhfdhsdhsdfhdfsgdfshgdshfghdsfh</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </aside>
</div>
<main class='contact'>
  <div class='main-info background-pattern'>
    <img src='./assets/img/razumovsky_picture.jpg' alt='User Avatar' class='avatar'>
    <div class='d-flex flex-column'>
      <p>razumovsky r</p>
      <p>11011 y.o Dotnet Developer from $"cityName"</p>
    </div>
    <div class='d-flex gap-fix'>
      <button class='button-dark py-2 px-4'>Start Direct Chat</button>
      <button class='button-dark py-2 px-4 ml-3 text-red'>Remove Contact</button>
    </div>
  </div>

  <ul class='user-info'>
    <li>
      <div class='info'>
        <p class='title'>Birthdate</p>
        <p>2008-07-03</p>
      </div>
      <img src='./assets/svg/calendar.svg' alt='Calendar Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Email</p>
        <a href='mailto:#'>kolosovp95@gmail.com</a>
      </div>
      <img src='./assets/svg/mail.svg' alt='Mail Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Username</p>
        <p>razumovsky-r</p>
      </div>
      <img src='./assets/svg/mail.svg' alt='Mail Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Website</p>
        <p>razumovsky.com</p>
      </div>
      <img src='./assets/svg/world.svg' alt='World Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Address</p>
        <p>Odessa, Ukraine</p>
      </div>
      <img src='./assets/svg/home.svg' alt='Home Icon'>
    </li>
  </ul>

  <ul class='user-info'>
    <li>
      <div class='info'>
        <p class='title'>Facebook</p>
        <a href='#'>razumovsky_r</a>
      </div>
      <img src='./assets/svg/facebook.svg' alt='Facebook Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Twitter</p>
        <a href='#'>razumovsky_r</a>
      </div>
      <img src='./assets/svg/twitter.svg' alt='Twitter Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>Instagram</p>
        <a href='#'>razumovsky_r</a>
      </div>
      <img src='./assets/svg/instagram.svg' alt='Instagram Icon'>
    </li>
    <li>
      <div class='info'>
        <p class='title'>LinkedIn</p>
        <a href='#'>razumovsky_r</a>
      </div>
      <img src='./assets/svg/linkedin.svg' alt='LinkedIn Icon'>
    </li>
  </ul>

</main>
</body>
