<div class='background-pattern'>
  <div class='container d-flex justify-content-center align-items-center flex-column vh-100'>
    <h1 class='font-weight-bold mb-4 auth-header restore-password-h1'>Request Restore Password</h1>
    <h4 class='mb-5 text-center restore-password-h4'>We are Different, We Make You Different.</h4>

    <label for='emailAddress'></label>
    <input class='mb-4 form-input p-3 user-select-none'
           id='emailAddress'
           name='emailAddress'
           placeholder='Enter your email address'
           type='text'
           [(ngModel)]="email">

    <button class='form-button p-3 font-weight-bold mb-4' (click)="onRequestRestorePasswordClick()">REQUEST RESTORE PASSWORD</button>
  </div>
</div>
