.gap-fix {
  gap: 10px !important;
}

.button-fix {
  padding: 25px;
  font-size: 25px;
  position: static;
  width: 100%;
  border-radius: 0 !important;
}

.no-hover {
  pointer-events: none;
}

.button-dark-no-hover {
  &:hover {
    background-color: #383838 !important;
    color: #adb5bd !important;
  }
}

.emoji-dropdown-menu {
  .dropdown-item {
    &:hover {
      background: #383838 !important;
    }
  }
}

.emoji {
  border-radius: 0;
  transition: none;
  padding: 5px !important;
  &:hover {
    background-color: #6c757d;
  }
}
.color-white {
  color: #fff;
}
.color-blue {
  color: #84afff;
}
.color-red {
  color: #ff7979;
}
.color-yellow {
  color: #fff798;
}
.color-green {
  color: #a2ffa4;
}
.color-bright-yellow {
  color: #f0ff72;
}
.color-aqua {
  color: #77ddca;
}
.color-violet {
  color: #bdadff;
}
.color-pink {
  color: #faa7ff;
}
.color-orange {
  color: #ffc588;
}
