.gap-fix {
  gap: 10px !important;
}

.no-hover {
  pointer-events: none;
}

.button-dark-no-hover {
  &:hover {
    background-color: #383838 !important;
    color: #adb5bd !important;
  }
}

.emoji-dropdown-menu{
  .dropdown-item {
    &:hover {
      background: #383838 !important;
    }
  }
}

.emoji {
  border-radius: 0;
  transition: none;
  padding: 5px !important;
  &:hover {
    background-color: #6c757d;
  }
}

.button-fix {
  padding: 25px;
  font-size: 25px;
  position: static;
  width: 100%;
  border-radius: 0 !important;

}

.padding-0 {
  //padding: 0 !important;
}
