<div class='background-pattern'>
  <div class='container d-flex justify-content-center align-items-center flex-column vh-100'>
    <h1 class='font-weight-bold mb-4 auth-header'>Restore Password</h1>
    <h4 class='mb-4 text-center'>We are Different, We Make You Different.</h4>

    <label for='password'></label>
    <input class='mb-3 form-input p-3'
           id='password'
           name='password'
           placeholder='Enter password'
           type='password'
           [(ngModel)]="newPassword">

    <label for='repeatPassword'></label>
    <input class='mb-3 form-input p-3'
           id='repeatPassword'
           name='repeatPassword'
           placeholder='Repeat password'
           type='password'
           [(ngModel)]="repeatPassword">

    <p class='justify-content-end'>*8 chars, numbers, lower, upper, symbol</p>

    <button class='form-button p-3 font-weight-bold mb-3' (click)="onRestorePasswordClick()">RESTORE PASSWORD</button>
  </div>
</div>
